.wrapper {
  width: 100%;
  text-align: left;

  .account {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .accountInfo {
      background-color: #fff;
      width: 25%;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-top: 3px solid #0aaee4;
      padding: 10px;
      height: 380px;

      hr {
        color: #0aaee4;
        background-color: #0aaee4;
        height: 1px;
        border: none;
      }

      .avatar {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        display: block;
        margin: 0 auto 20px;
        object-fit: cover;
      }

      .line {
        padding: 0 15px;
        height: 60px;
        display: flex;
        border-bottom: 1px solid #0aaee4;
        justify-content: space-between;
      }

      .titleInfo {
        font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
        font-weight: bold;
        line-height: 60px;
      }

      .info {
        font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
        line-height: 60px;

        a {
          text-decoration: none;
          color: #0aaee4;
        }
      }
    }

    .wrapperRepos {
      width: 70%;
      background-color: #fff;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-top: 3px solid #0aaee4;
      padding: 10px;

      .counterRepos {
        font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
        font-size: 18px;
      }

      .listRepos {
        padding: 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        list-style-type: none;
      }
    }
  }
}

.buttonLoadMore {
  width: 100px;
  color: #fff;
  background-color: #0aaee4;
  border: none;
  display: block;
  margin: 10px 0;
  height: 30px;
  cursor: pointer;
  border-radius: 3px;
}

.buttonLoadMore:focus {
  outline: none;
}

@media (max-width: 1024px) {
  .wrapper {
    .account {
      flex-wrap: wrap;

      .accountInfo {
        width: 100%;
      }

      .wrapperRepos {
        width: 100%;
      }
    }
  }
}
