.button___load_more {
  width: 100px;
    color: #fff;
    background-color: #0aaee4;
    border: none;
    display: block;
    margin: 10px auto 0;
    height: 30px;
    cursor: pointer;
}
.button___load_more:focus {
  outline: none;
}