@import "../../../../utils/constants.scss";

.star {
  outline: none;
  background: none;
  border: none;
  color: $main-color;
  font-size: 24px;
  line-height: 40px;
  cursor: pointer;

  &::after {
    content: "\2606";
  }

  &:hover::after {
    content: "\2605";
  }
}
