@import "../../utils/constants.scss";

.main {
  width: 80%;
  margin: 20px auto;

  .labelSearch {
    display: block;
    margin-bottom: 5px;
    font-family: $font-family;
  }

  .inputSearch {
    height: 30px;
    width: 40%;
    display: inline-block;
    border: none;
    text-indent: 10px;
  }

  .buttonSearch {
    width: 100px;
    color: $white-color;
    background-color: $main-color;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    display: inline-block;
    margin: 10px auto 0;
    height: 30px;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }
}

@media (max-width: $mobile) {
  .main {
    .inputSearch {
      width: calc(100% - 100px);
    }
  }
}
