.main {
  width: 80%;
  margin: 20px auto;

  .labelSearch {
    display: block;
    margin-bottom: 5px;
    font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
  }

  .inputSearch {
    height: 30px;
    width: 40%;
    display: inline-block;
    border: none;
    text-indent: 10px;
  }

  .buttonSearch {
    width: 100px;
    color: #fff;
    background-color: #0aaee4;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    display: inline-block;
    margin: 10px auto 0;
    height: 30px;
    cursor: pointer;
  }

  .buttonSearch:focus {
    outline: none;
  }
}

@media (max-width: 1024px) {
  .main {
    .inputSearch {
      width: calc(100% - 100px);
    }
  }
}
