@import "../../utils/constants.scss";

.header {
  width: 100%;
  height: 80px;
  background-color: $main-color;

  .logo {
    padding: 0 10%;
    color: $white-color;
    font-size: 28px;
    line-height: 80px;
    font-family: $font-family;
  }
}

@media (max-width: $mobile) {
  .header {
    text-align: center;

    .logo {
      padding: 0;
    }
  }
}
