$main-color: #0aaee4;
$main-container-color: #ecf0f5;
$copyright-color: #969797;
$white-color: #fff;
$repository-background-color: #f5fdff;
$font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;

$mobile: 1024px;
$small_mobile: 450px;
