.main {
  width: 80%;
  margin: 20px auto;
}

.buttonAuth {
  width: 200px;
  color: #fff;
  background-color: #0aaee4;
  border: none;
  border-radius: 5px;
  display: inline-block;
  margin: 10px auto 0;
  height: 50px;
  cursor: pointer;
  font-size: 18px;
  font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
}
