@import "../../../../../utils/constants.scss";

.repositoryItem {
  width: 46%;
  background-color: $repository-background-color;
  padding: 15px;
  border-top: 2px solid $main-color;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 20px;
  display: block;

  .lineMain {
    display: flex;
    justify-content: space-between;

    .titleInfo {
      font-family: $font-family;
      font-weight: 600;
      font-size: 20px;
      line-height: 40px;
    }
  }

  .line {
    display: block;

    .titleInfo {
      font-family: $font-family;
      font-weight: 600;
      line-height: 40px;
    }

    .info {
      font-family: $font-family;
      line-height: 40px;
    }

    .infoId {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-family: $font-family;
      line-height: 40px;
    }
  }
}

@media (max-width: $small_mobile) {
  .repositoryItem {
    .infoId {
      display: inline-flex;
      width: 200px;
    }
  }
}

@media (max-width: $mobile) {
  .repositoryItem {
    width: 100%;
  }
}
